<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eduwarts</title>
    <!--========== BOX ICONS ==========-->
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>

    <!--========== BOOTSTRAP ==========-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    
    <link rel="stylesheet" href="../static/home.css">

</head>
<body >
   
        <div class="row  g-4  bd-container "  >
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">
                  <a class="navbar-brand" href="#">PasteBar</a>
                  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                  <div class="collapse navbar-collapse " id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    </ul>
                    <form class="d-flex">
                      <button class="btn btn-outline-success" type="submit">Create New</button>
                    </form>
                  </div>
                </div>
              </nav>
        </div>

      



       <!--========== Question mark section ==========-->
        <div class="how__can__help bd-container" style="background-color: #F8F9FA; " >
       <section class="home" id="home">
           <div class="home__container  bd-grid">
               

               <div class="home__data">
                   <h1 class="home__title">Previous work</h1>
                   
                  
               </div>   
           </div>
       </section>
       <div class="row  row-cols-1  g-4">
           <div class="col" style="padding: 20px 30px">
             <div class="card">
               <div class="card-body">
                 <h5 class="card-title">Content </h5>
                 <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                  <a href="#" class="btn me-5">Delete</a>
                 <a href="#" class="btn ">Renew</a>
               </div>
             </div>
           </div>
           <div class="col" style="padding: 20px 30px">
             <div class="card">
               <div class="card-body">
                 <h5 class="card-title">Content </h5>
                 <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                 <a href="#" class="btn me-5">Delete</a>
                 <a href="#" class="btn ">Renew</a>
               </div>
             </div>
           </div>
           <div class="col" style="padding: 20px 30px">
             <div class="card">
               <div class="card-body">
                 <h5 class="card-title">Content </h5>
                 <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                 <a href="#" class="btn me-5">Delete</a>
                 <a href="#" class="btn ">Renew</a>
               </div>
             </div>
           </div>
       </div>
       </div>
       

       



        <!--========== FOOTER ==========-->
        <footer class="footer section" >
          <p class="footer__copy">&#169; 2022 PasteBar. All right reserved</p>
      </footer>

</body>
</html>