
/*===== GOOGLE FONTS =====*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

/*===== VARIABLES CSS =====*/
:root {
  --header-height: 3rem; 

  /*========== Colors ==========*/
  --first-color: #DA2535;
  --first-color-alt: #C42130;
  --first-color-send: #DE3B49;
  --title-color: #161212;
  --text-color: #5B5757;
  --text-color-light: #8F8A8A;
  --body-color: #FEFBFB;
  --container-color: #FFF;

  /*========== Font and typography ==========*/
  --body-font: 'Poppins', sans-serif;
  --biggest-font-size: 2rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1.125rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;

  /*========== Font weight ==========*/
  --font-semi-bold: 600;
  --font-bold: 700;

  /*========== Margins ==========*/
  --mb-1: .5rem;
  --mb-2: 1rem;
  --mb-3: 1.5rem;
  --mb-4: 2rem;
  --mb-5: 2.5rem;
  --mb-6: 3rem;
  /*========== z index ==========*/

  --z-tooltip: 10;
  --z-fixed: 100;
}

@media screen and (min-width: 968px){
  :root{
    --biggest-font-size: 3rem;
    --h2-font-size: 1.75rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
  }
}

/*========== BASE ==========*/
*,::before,::after{
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}




/* body{
  margin: var(--header-height) 0 0 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
  line-height: 1.6;
} */


h1,h2,h3{
  font-weight: var(--font-semi-bold);
  color: var(--title-color);
}

ul{
  padding: 0;
  list-style: none;
}

/* a{
  text-decoration: none;
} */

img{
  max-width: 100%;
  height: auto;
}




/*========== CLASS CSS ==========*/
.section{
  padding: 4rem 0rem 2rem;
}


/*========== LAYOUT ==========*/
.bd-container{
  max-width: 1200px;
  width: calc(100% - 3rem);
  margin-left: var(--mb-3);
  margin-right: var(--mb-3);
}

.bd-grid{
  display: grid;
  gap: 1.5rem;
}


/* @media screen and (min-width: 600px) and (max-width: 767px){
  .bd-container{
    max-width: 968px;
    width: calc(100% - 20rem);
    margin-left: 10rem;
    margin-right: 20rem;
  }
} */


@media screen and (min-width: 968px){
  .bd-container{
    margin-left: auto;
    margin-right: auto;
  }
}

.how__can__help .card{
  background-color: #2E2E2E;
  padding: 20px; 
  border-radius: 12px;
}
.how__can__help .card-body{
  color: whitesmoke;
}
.how__can__help .btn{
  background-color: #344CB7; 
  color: white; 
  padding: 10px 30px; 
  border-radius: 8px;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}


@media screen and (max-width: 768px){
 
}





/*========== HOME ==========*/
.home__container{
  row-gap: .5rem;
}

.home__img{
  width: 280px;
  justify-self: center;
}

.home__title{
  font-size: var(--biggest-font-size);
  font-weight: var(--font-bold);
  margin-bottom: var(--mb-2);
}

.home__description{
  margin-bottom: var(--mb-3);
}



/*========== FOOTER ==========*/
.footer__container{
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
}

.footer__logo{
  color: var(--title-color);
}

.footer__title{
  margin-bottom: var(--mb-2);
}

.footer__logo, .footer__title{
  font-size: var(--h3-font-size);
}

.footer__link{
  display: inline-block;
  margin-bottom: .75rem;
  color: var(--text-color);
}

.footer__link:hover{
  color: blue;
}

.footer__social{
  font-size: 1.5rem;
  color: var(--title-color);
  margin-right: var(--mb-3);
}

.footer__social:hover{
  color: var(--first-color);
}

.footer__copy{
  text-align: center;
  font-size: var(--small-font-size);
  color: var(--text-color-light);
  margin-top: 4rem;
}

/*========== MEDIA QUERIES ==========*/

/* For full-screen images on small screens */
@media screen and (max-width: 359px){
  .home__img,
  .share__img,
  .send__img{
    width: 100%;
  }
}

@media screen and (min-width: 576px){
  .home__container{
    grid-template-columns: repeat(2,1fr);
    align-items: center;
  }

  .home__container{
    padding: 5rem 0 0;
  }

  .home__img{
    order: 1;
  }

  

  .home__img{
    width: 100%;
  }
  
}

@media screen and (min-width: 768px){
  body{
    margin: 0;
  }

  .section{
    padding-top: 7rem;
  }


  
 

  .home__container{
    padding: 7rem 2rem 0;
  }


 

}

@media screen and (min-width: 968px){
  .bd-container{
    margin-left: auto;
    margin-right: auto;
  }

  .home__img
  {
    width: 469px;
  }

  .home__container
  {
    column-gap: 5rem;
  }
}