


/* adding css for barenya */

/*===== GOOGLE FONTS =====*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

/*===== VARIABLES CSS =====*/
:root {
  --header-height: 3rem; 

  /*========== Colors ==========*/
  --first-color: #344CB7;
  --first-color-alt: #C42130;
  --first-color-send: #DE3B49;
  --title-color: #161212;
  --text-color: #5B5757;
  --text-color-light: #8F8A8A;
  --body-color: #FEFBFB;
  --container-color: #FFF;

  /*========== Font and typography ==========*/
  --body-font: 'Poppins', sans-serif;
  --biggest-font-size: 2rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1.125rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;

  /*========== Font weight ==========*/
  --font-semi-bold: 600;
  --font-bold: 700;

  /*========== Margins ==========*/
  --mb-1: .5rem;
  --mb-2: 1rem;
  --mb-3: 1.5rem;
  --mb-4: 2rem;
  --mb-5: 2.5rem;
  --mb-6: 3rem;
  /*========== z index ==========*/

  --z-tooltip: 10;
  --z-fixed: 100;
}

@media screen and (min-width: 968px){
  :root{
    --biggest-font-size: 3rem;
    --h2-font-size: 1.75rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
  }
}

/*========== BASE ==========*/
*,::before,::after{
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}




/* body{
  margin: var(--header-height) 0 0 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
  line-height: 1.6;
} */

.btn{
  background-color: #344CB7; 
  color: white; 
  padding: 10px 30px; 
  border-radius: 8px;
}

h1,h2,h3{
  font-weight: var(--font-semi-bold);
  color: var(--title-color);
}

ul{
  padding: 0;
  list-style: none;
}

/* a{
  text-decoration: none;
} */

img{
  max-width: 100%;
  height: auto;
}




/*========== CLASS CSS ==========*/
.section{
  padding: 4rem 0rem 2rem;
}


/*========== LAYOUT ==========*/
.bd-container{
  max-width: 1200px;
  width: calc(100% - 3rem);
  margin-left: var(--mb-3);
  margin-right: var(--mb-3);
}

.bd-grid{
  display: grid;
  gap: 1.5rem;
}


/* @media screen and (min-width: 600px) and (max-width: 767px){
  .bd-container{
    max-width: 968px;
    width: calc(100% - 20rem);
    margin-left: 10rem;
    margin-right: 20rem;
  }
} */


@media screen and (min-width: 968px){
  .bd-container{
    margin-left: auto;
    margin-right: auto;
  }
}

.how__can__help .card{
  background-color: #2E2E2E;
  padding: 20px; 
  border-radius: 12px;
}
.how__can__help .card-body{
  color: whitesmoke;
}
.how__can__help .btn{
  background-color: #344CB7; 
  color: white; 
  padding: 10px 30px; 
  border-radius: 8px;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}


@media screen and (max-width: 768px){
 
}





/*========== HOME ==========*/
.home__container{
  row-gap: .5rem;
}

.home__img{
  width: 280px;
  justify-self: center;
}

.home__title{
  font-size: var(--biggest-font-size);
  font-weight: var(--font-bold);
  margin-bottom: var(--mb-2);
}

.home__description{
  margin-bottom: var(--mb-3);
}



/*========== FOOTER ==========*/
.footer__container{
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
}

.footer__logo{
  color: var(--title-color);
}

.footer__title{
  margin-bottom: var(--mb-2);
}

.footer__logo, .footer__title{
  font-size: var(--h3-font-size);
}

.footer__link{
  display: inline-block;
  margin-bottom: .75rem;
  color: var(--text-color);
}

.footer__link:hover{
  color: blue;
}

.footer__social{
  font-size: 1.5rem;
  color: var(--title-color);
  margin-right: var(--mb-3);
}

.footer__social:hover{
  color: var(--first-color);
}

.footer__copy{
  text-align: center;
  font-size: var(--small-font-size);
  color: var(--text-color-light);
  margin-top: 4rem;
}

/*========== BUTTONS ==========*/
a{
  text-decoration: none;
}


/*========== MEDIA QUERIES ==========*/

/* For full-screen images on small screens */
@media screen and (max-width: 359px){
  .home__img,
  .share__img,
  .send__img{
    width: 100%;
  }
}

@media screen and (min-width: 576px){
  .home__container{
    grid-template-columns: repeat(2,1fr);
    align-items: center;
  }

  .home__container{
    padding: 5rem 0 0;
  }

  .home__img{
    order: 1;
  }

  

  .home__img{
    width: 100%;
  }
  
}

@media screen and (min-width: 768px){
  body{
    margin: 0;
  }

  .section{
    padding-top: 7rem;
  }


  
 

  .home__container{
    padding: 7rem 2rem 0;
  }


 

}

@media screen and (min-width: 968px){
  .bd-container{
    margin-left: auto;
    margin-right: auto;
  }

  .home__img
  {
    width: 469px;
  }

  .home__container
  {
    column-gap: 5rem;
  }
}


/*---------- agtya part ------------*/


/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Sacramento&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

/* body{
    font-family: 'Sacramento', cursive;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.8;
    color: #383b3d;
    
} */

.card-img-top{
    height: 40vh;
    width: 100%;
    object-fit: cover;
    
}

.ag__card .ag__card-body{
  background-color: black;
}
.ag__card .ag__card-title{
 
  width: fit-content;
  height: 24px;
  left: 53px;
  top: 3804px;
  
  font-family: Lato;
  font-style: normal;
  font-weight: bolder;
  font-size: 24px;
  line-height: 29px;
  
  color: #FFFFFF;
}
.owl-prev{
    right: 50px;
    top: -20px;
}
.owl-next{
    right: 30px;
    top: -20px;
}
.owl-prev,.owl-next{
    position: absolute;
    top: -70px;
}
.owl-prev span, .owl-next span{
    font-size: 30px;
    color: #000;
}
/* basic owl css */
  

  
  .card .card-body .card-sub-title{
  
height: 17px;
left: 53px;
top: 3844px;

font-family: 'Lato', sans-serif;
font-style: normal;
font-weight: 550;
font-size: 14px;
line-height: 17px;
/* identical to box height */


color: #FFFFFF;
    line-height: 20px;
    /* justify-content: center;
    text-align: center; */
  }
  .card .card-body p{
    text-align: center;
    margin: 10px 0;
  }
  .card .card-body .btn{
    display: block;
    text-align: left;
    margin: 10px 0;
  }
  
  .card__title {
    font-size: 1em;
    margin: 0 0 .3em;
    color: #6A515E;
  }

     .container__profile {
    
      display: flex;
      align-items: flex-start;
    
      
     }
      .profimg {
       width: 60px;
       height: 60px;
       border-radius: 50%;
       object-position: center;
       object-fit: cover;
       
      }
      h2 {
       color: #334454;
       font-size: 1.2rem;
      
      }
      p {
       color: #a1b2bc;
       font-size: 0.8rem;
      }
      p b {
       font-style: italic;
      }

      .container__profile__text{
        margin-left: 10px;
        text-align: center;
        padding-top: 1%;
      }
      .container__profile__text .h2{
        margin-left: 10px;
        text-align: center;
        padding-top: 1%;
      }
      .cards-img-top .trial .img-circle .rounded-circle .trial {
        position: absolute;
        top: -30px;
        left: 50%;
        margin-left: -30px;
        width: 60px ;
        height: 60px;
        margin: auto;
  display: block;
  border-radius: 50%;
  margin-top: 60px;
      }
      
      .cards {
        margin-top: 30px;
        padding-top: 30px;
      }
.rounded-circle{
  margin: auto;
  display: block;
  border-radius: 50%;
  margin-bottom: 50px;
  top: -10px;
}



/*=============== Frequent QUESTIONS ===============*/
.questions{
  background-color: var(--first-color-lighten);
}

.questions__container{
  gap: 1.5rem;
  padding: 1.5rem 0;
}

.questions__group{
  display: grid;
  row-gap: 1.5rem;
}

.questions__item{
  background-color: var(--container-color);
  border-radius: .25rem;
}

.questions__item-title{
  font-size: var(--small-font-size);
  font-weight: var(--font-medium);
}

.questions__icon{
  font-size: 1.25rem;
  color: var(--title-color);
}

.questions__description{
  font-size: var(--smaller-font-size);
  padding: 0 1.25rem 1.25rem 2.5rem;
}

.questions__header{
  display: flex;
  align-items: center;
  column-gap: .5rem;
  padding: .75rem .5rem;
  cursor: pointer;
}

.questions__content{
  overflow: hidden;
  height: 0;
  
}

.questions__item,
.questions__header,
.questions__item-title,
.questions__icon,
.questions__description,
.questions__content{
  transition: .3s;
}

.questions__item:hover{
  box-shadow: 0 2px 8px hsla(var(--hue), 4%, 15%, .15);
}

/*Rotate icon, change color of titles and background*/
.accordion-open .questions__header,
.accordion-open .questions__content{
  background-color: whitesmoke;
}

.accordion-open .questions__item-title,
.accordion-open .questions__description,
.accordion-open .questions__icon{
  color: black;
}

.accordion-open .questions__icon{
  transform: rotate(45deg);
}
